.hero-section{
    background-image: url('https://assets.codepen.io/6060109/agency-hero-image.png');
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 650px;
    position: relative;
}

nav{
    position: absolute;
    top: 3%;
    left: 50%;
    transform: translate(-50%);
    z-index: 3;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li{
    margin: 0 8px;
    color: white;
}

nav ul li:hover{
    cursor: pointer;
    opacity: .8;
}

.overlay{
    width: 100%;
    height: 100%;
    z-index: 2;
    background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) )
}

.hero-section h2{
    color: white;
    font-weight: 600;
    font-size: 50px;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}